/* Use a modern font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0px;
}

/* Make the font size larger */
body {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

/* Make the navigation bar more responsive */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  height: 80px;
}

ul {
    list-style: none;
    list-style-type: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
    color: rgb(105, 204, 224);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ion-icon:hover {
    opacity: .5;
}

ion-icon#facebook {
    color: #3b5998;
    font-size: 100px;
}

ion-icon#twitter {
    color: #1da1f2;
    font-size: 100px;
}

ion-icon#instagram {
    color: #e1306c;
    font-size: 100px;
}

ion-icon#github {
    color: #333;
    font-size: 100px;
}

ion-icon#discord {
    color: #7289da;
    font-size: 100px;
}   