@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100&display=swap');

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background-color: #1b1b1b;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ce1562;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.mainContent {
    background-color: #1b1b1b;
    color: #f2f2f2;
    font-family: 'Noto Serif Telugu', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

.mainContent img {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 10%;
    height: 10%;
}

.mainContent .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.mainContent .fa:hover {
    opacity: 0.7;
}

.mainContent .fa-instagram {
    background: #125688;
    color: white;
}

.mainContent .fa-linkedin {
    background: #007bb5;
    color: white;
}

.mainContent .fa-github {
    background: #333;
    color: white;
}